$box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
$blue: #3d5afe;

@mixin main-color(
	$bg: #e0e0e0,
	$text: #3f3f3f,
	$bg-disabled: #e0e0e0,
	$text-disabled: #9e9e9e,
	$bg-hover: #aeaeae,
	$text-hover: #3f3f3f
) {
	color: $text;
	background-color: $bg;

	&:disabled {
		background-color: $bg-disabled;
		color: $text-disabled;
		cursor: default;
	}

	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		background-color: $bg-hover;
		color: $text-hover;
	}

	&.outline {
		border: 1px solid $text;
		background-color: transparent;
		box-shadow: none;

		&:disabled {
			border-color: $text-disabled;
		}

		&:hover:not(:disabled),
		&:focus:not(:disabled) {
			background-color: rgba($text, 0.1);
			color: $text;
		}
	}

	&.text {
		box-shadow: none;
		background-color: transparent;

		&:hover:not(:disabled),
		&:focus:not(:disabled) {
			background-color: rgba($text, 0.1);
			color: $text;
		}
	}
}

button {
	border: none;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	border-radius: 6px;
	box-shadow: $box-shadow;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	@include main-color();

	&.sm {
		padding: 6px 12px;
	}
	&.md {
		padding: 8px 16px;
	}
	&.lg {
		padding: 11px 22px;
	}
}

button.disableShadow {
	box-shadow: none;
}

button.primary {
	@include main-color($blue, #fff, #e0e0e0, #9e9e9e, #0039cb, #fff);

	&.outline,
	&.text {
		@include main-color(transparent, $blue, #e0e0e0, #9e9e9e, $blue, $blue);
	}
}
button.secondary {
	@include main-color(#455a64, #fff, #e0e0e0, #9e9e9e, #1c313a, #fff);
	&.outline,
	&.text {
		@include main-color(transparent, #455a64, #e0e0e0, #9e9e9e, #455a64, #455a64);
	}
}
button.danger {
	@include main-color(#d32f2f, #fff, #e0e0e0, #9e9e9e, #9a0007, #fff);
	&.outline,
	&.text {
		@include main-color(transparent, #d32f2f, #e0e0e0, #9e9e9e, #d32f2f, #d32f2f);
	}
}
