$box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
$blue: #3d5afe;

button {
	border: none;
	background-color: #e0e0e0;
	color: #3f3f3f;
	font-family: "Noto Sans", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding: 8px 16px;
	border-radius: 6px;
	box-shadow: $box-shadow;
	cursor: pointer;
	transition: all 0.4s ease-in-out;

	&:hover,
	&:focus {
		background-color: #aeaeae;
		color: #3f3f3f;
	}
}

button.disableShadow {
	box-shadow: none;
}

button.text {
	color: $blue;
	background-color: transparent;
	box-shadow: none;

	&:hover,
	&:focus {
		background-color: rgba($blue, 0.1);
	}
}

button.outline {
	border: 1px solid $blue;
	color: $blue;
	background-color: transparent;
	box-shadow: none;
	&:hover,
	&:focus {
		background-color: rgba($blue, 0.1);
	}
}
