*,
::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
}

#root {
	display: grid;
	place-items: center;
	max-width: 1440px;
	margin: 0 auto;
	padding-block: 4rem;
}

.container {
	display: flex;
	gap: 3rem;
}

.button-element {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
